<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search - LoL LATAM</title>
  </head>
  <body>

    {% if email_verified %}
      <form>
        <input type="text" id="summoner">
        <select id="server">
          <option value="LAN">LAN</option>
          <option value="LAS">LAS</option>
        </select>
        <button id="search-btn">Buscar</button>
      </form>
    {% else %}
      <p>
        No has verificado tu cuenta de correo electrónico. Hemos enviado un enlace
        de verificación, por favor revisa tu correo electrónico. Asegúrate de
        revisar la bandeja de spam.
      </p>
    {% endif %}
    
  </body>
</html>
